<div class="panel panel-default">
    <div id="heading{{ .Get 0 }}" class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a role="button" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ .Get 0 }}" aria-expanded="false" aria-controls="collapse{{ .Get 0 }}">
					{{ .Get 1 }}
				</a>
        </h4>
    </div>
    <div id="collapse{{ .Get 0 }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ .Get 0 }}">
        <div class="panel-body">
            {{ .Inner }}
        </div>
    </div>
</div>